<%= provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<h1>User Detail</h1>
<table class="table table-striped">
  <tbody>
  <tr>
    <td>Username</td>
    <td><%= @user.username %></td>
  </tr>

  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td>Address</td>
    <td><%= @user.address %></td>
  </tr>

  <tr>
    <td>Status</td>
    <td><%= @user.is_active? %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-primary" %>
<%= link_to 'Back', users_path, :class => "btn" %>
